@model MvcGame.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Platforms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Platforms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>







<h4>Reviews</h4>

@if (Model.Reviews != null && Model.Reviews.Count > 0)
{
    <div>
        @foreach (var review in Model.Reviews)
        {
            <div>
                <h5>@review.UserName, @review.Date.ToString("dd MMM yyyy")</h5>
                <p>@review.Content</p>
            </div>
        }
    </div>
}
else
{
    <p>No reviews yet.</p>
}

<h3>Add Review</h3>

<form asp-action="AddReview" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="UserName">Your Name:</label>
        <input type="text" class="form-control" id="UserName" name="UserName" required />
    </div>
    <div class="form-group">
        <label for="Content">Your Review:</label>
        <textarea class="form-control" id="Content" name="Content" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Review</button>
</form>







<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
