@model PaginatedList<MvcGame.Models.Game>

@{
    ViewData["Title"] = "Game List";
}

<h1>Game List</h1>



<p>
    <a asp-action="Create">Add New Game</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Platforms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => game.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Platforms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => game.Price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@game.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@game.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@game.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<div>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item active"><span class="page-link">@i</span></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a></li>
            }
        }
    </ul>
</div>
